@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E1113;
    --background-neutral: #181C1F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
